@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
:root{
  --BodyBackgroundColor: #1F2428;
}
body {
  width: 100%;
  margin: 0;
  background-color: var(--BodyBackgroundColor);
  animation: FadeIn 200ms;
  transition: 200ms;
}
::-webkit-scrollbar{
  width: 3px;  
}
::-webkit-scrollbar-thumb{
  background-color: #1B9CFC;
  border-radius: 5px;
}
